@model IEnumerable<Check_Out_App_ULC.Models.tb_CSULabLocations>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationNameAcronym)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocactionName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationNameAcronym)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocactionName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LocationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LocationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LocationId })
        </td>
    </tr>
}

</table>
