@model Check_Out_App_ULC.Models.tb_TimeClock

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tb_TimeClock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserIDFK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserIDFK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClockIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClockIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClockOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClockOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursWorked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursWorked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edited)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TimeClockID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
