@model IEnumerable<Check_Out_App_ULC.Models.tb_ItemRepair>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align: center;"><h2>Check-Ins</h2></div>
@if (ViewBag.Message != null)
{
    <p style="font-size:20px"><mark><span>@ViewBag.Message</span></mark></p>
}

<div class="form-horizontal" style="border:3px; border-style:solid; border-color:#b30000; padding: 2em;">
    @using (Html.BeginForm("ItemCheckIn", "tb_CSUCheckin", FormMethod.Post))

    {
        <div style="text-align: center;" >
            <p style="font-size:20px"><strong><u>Check In an Item</u></strong></p>

            <div>
                <label for="ItemUPCFK"> Item Number </label>
                @Html.TextBox("item")

                <input type="submit" value="Submit" onclick="document.forms.valueOf()" />
            </div>
        </div>

    }
</div>

<h2>Request a Repair</h2>

<p>
    @Html.BeginForm("Create New", "Create")
</p>
<div style="border:12px; border-style:solid; border-color:#b30000; padding: 1em;">
    @if (Model != null && Model.Any())
    {
        <div style="text-align: center;"><h2>Items currently checked out</h2></div>

        <table id="table"
               data-toggle="table"
               data-sort-name="name"
               data-sort-order="desc"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-show-multi-sort="true"
               data-filter-control="true"
               data-filter-show-clear="true"
               data-response-handler="responseHandler"
               data-toolbar="#toolbar">
            <thead>
                <tr>
                    <th data-field="Issue" data-sortable="true" data-filter-control="input">
                        @Html.DisplayNameFor(model => model.Issue)
                    <th>
                        @Html.DisplayNameFor(model => model.Notes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateIssued)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateRepaired)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RequestedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnRepairable)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RepairedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemUpcFk)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemIdFk)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssignedTo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Issue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateIssued)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateRepaired)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequestedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnRepairable)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RepairedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemUpcFk)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemIdFk)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.RepairId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.RepairId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.RepairId })
                        </td>
                    </tr>
                }

        </table>
    }
</div>