@model Check_Out_App_ULC.Models.tb_CSUCheckoutCheckin

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div>
        @if (!string.IsNullOrEmpty(@ViewBag.Message))
        {
            @Html.Label("Invalid User") 
        }
    </div>
    <div class="form-horizontal">
        <h4>tb_CSUCheckoutCheckin</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CSU_IDFK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CSU_IDFK, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CSU_IDFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemIDFK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemIDFK, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemIDFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CheckoutLabTech, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.CheckoutLabTech, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CheckoutLabTech, "", new { @class = "text-danger" })*@
                @Check_Out_App_ULC.Models.SessionVariables.CurrentUserId
            </div>
        </div>

        <div class="form-group">
           <label for="duetime" class="control-label col-md-2">Due Back Time</label>
            <div class="col-md-10">
                @Check_Out_App_ULC.Models.SessionVariables.ItemDueDateTime.ToShortDateString() @Check_Out_App_ULC.Models.SessionVariables.ItemDueDateTime.ToShortTimeString()
            </div>
        </div>

      

        <div class="form-group">
            @Html.LabelFor(model => model.CheckoutLocationFK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CheckoutLocationFK, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CheckoutLocationFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
