@model IEnumerable<ViewModels.QueryCheckoutsView>

@{
    ViewBag.Title = "UsageReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usage Reports</h2>

<div style="border:3px; border-style:solid; border-color:#00245a; padding: 2em;">

    @using (Html.BeginForm("QueryCheckouts", "tb_CSUCheckoutCheckin", FormMethod.Post))
    {

        <center>
            <p style="font-size:20px"><strong><u>Query Checkouts:</u></strong></p>
        </center>
        <center>
            &nbsp Query By:
            @Html.DropDownList("queryType", new List<SelectListItem>
                {
                new SelectListItem{ Text = "Date", Value = "date" },
                new SelectListItem{ Text = "Day Of Week", Value = "dayofweek" },
                new SelectListItem{ Text = "Hour", Value = "hour" },
                new SelectListItem{ Text = "Item", Value = "item" }
                }, new { onchange = "getAlldata()" })
            &nbsp
            Start Date: <input name="startDate" type="date">
            &nbsp
            End Date: <input name="endDate" type="date">
            &nbsp Location(s):
            @Html.DropDownList("location", new List<SelectListItem>
                {
                new SelectListItem{ Text = "BSB", Value = "BSB" },
                new SelectListItem{ Text = "LSC", Value = "LSC" },
                new SelectListItem{ Text = "TLT", Value = "TLT" },
                new SelectListItem{ Text = "All Locations", Value = "All" }
                }, new { onchange = "getAlldata()" })
            &nbsp Options:
            @Html.DropDownList("action", new List<SelectListItem>
                {
                new SelectListItem{ Text = "Display Results", Value = "display" },
                new SelectListItem{ Text = "Export to Excel", Value = "excel" }
                }, new { onchange = "getAlldata()" })
            <br/><br/>
            <input type="submit" value="Submit" />
        </center>
    }
</div>


@if(Model != null && ViewBag.queryType != null)
{
    if (ViewBag.queryType == "date")
    {
        @Html.Partial("_QueryCheckoutsByDateResults", Model, new ViewDataDictionary())
    }
    else if (ViewBag.queryType == "dayofweek")
    {
        @Html.Partial("_QueryCheckoutsByDayOfWeekResults", Model, new ViewDataDictionary())
    }
    else if (ViewBag.queryType == "hour")
    {
        @Html.Partial("_QueryCheckoutsByHourResults", Model, new ViewDataDictionary())
    }
    else if (ViewBag.queryType == "item")
    {
        @Html.Partial("_QueryCheckoutsByItemResults", Model, new ViewDataDictionary())
    }

}