@model Check_Out_App_ULC.Models.tb_CSULabInventoryItems

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tb_CSULabInventoryItems</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemUPC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemUPC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemSerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemSerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemLocationFK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemLocationFK)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
